# Water Well Locations in Alberta

Government of Alberta, Alberta Water Well Information Database (or Baseline Water Well Test Database). Retrieved 2020-12-19, from http://groundwater.alberta.ca/WaterWells/d

“Contains Information licensed under the Open Government License – Alberta”

In [ ]:
#!brew install mdbtools
#!pip install pandas_access

In [ ]:
'''
import pandas as pd
import pandas_access as mdb

df = pd.DataFrame()
for chunk in mdb.read_table('Well_Reports.mdb', 'Wells', chunksize=10000):
    df = df.append(chunk, ignore_index=True)
    #print(df.shape[0])
'''

In [ ]:
#df.to_csv('well_locations.csv')

In [1]:
import pandas as pd
df = pd.read_csv('https://drive.google.com/u/0/uc?id=1ptQoyoGhAv81R4A7VzupiYBhbBSD5uEy&export=download', low_memory=False)
df

,Well_ID,Drilling_Company_ID,GIC_Well_ID,GOA_Well_Tag_Number,Longitude,Latitude,Elevation,GPS_Obtained,Elevation_Obtained,Boundary_From,...,Township,Range,Meridian,Lot,Plan,Additional_Description,Validated_Flag,Submitted_Flag,Location_Locked_Flag,Block
0,40000,10776530,40000,NaN,-112.363697,52.200764,NaN,Map,Not Obtained,NaN,...,37,17,4,NaN,NaN,NaN,1,1,1,NaN
1,40001,10776530,40001,NaN,-112.789561,52.229139,NaN,Not Verified,Not Obtained,NaN,...,37,20,4,NaN,NaN,NaN,1,1,1,NaN
2,40002,10776530,40002,NaN,-112.888244,52.166147,NaN,Not Verified,Not Obtained,NaN,...,37,21,4,NaN,NaN,NaN,1,1,1,NaN
3,40003,24120,40003,NaN,-113.546148,52.146724,NaN,Map,Not Obtained,NaN,...,37,25,4,NaN,NaN,NaN,1,1,1,NaN
4,40004,24120,40004,NaN,-113.558190,52.146709,NaN,Map,Not Obtained,NaN,...,37,25,4,NaN,NaN,NaN,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438382,12041124,12000076,9906194,A0888,-113.136015,50.849327,2850.0,Phone,Other,NaN,...,22,23,4,NaN,NaN,NaN,0,0,0,NaN
438383,12041125,12000076,9906195,A0890,-113.138164,50.842398,2840.0,Phone,Other,NaN,...,22,23,4,NaN,NaN,NaN,0,0,0,NaN
438384,12041126,12000076,9906196,A0891,-113.137702,50.847961,2840.0,Phone,Other,NaN,...,22,23,4,NaN,NaN,NaN,0,0,0,NaN
438385,12041127,24574,1025665,NaN,-115.652201,54.065941,NaN,Hand held autonomous GPS 20-30m,Not Obtained,NaN,...,59,12,5,NaN,NaN,NaN,0,0,0,NaN
438386,12041128,10783314,1717061,A3990,-114.578030,53.204700,NaN,Phone,Not Obtained,NaN,...,49,4,5,NaN,NaN,NaN,0,0,0,NaN

In [ ]:
df[df['Well_ID']==282489]

In [ ]:
df[df['Latitude']>53.225].shape[0]

In [ ]:
df[df['Well_ID']==459002]

In [ ]:
lat = 53.225
lon = -114.04
print(df[(df['Latitude']>lat)&(df['Longitude']>lon)].shape[0])
print(df[(df['Latitude']<lat)&(df['Longitude']<lon)].shape[0])
print(df[(df['Latitude']>lat)&(df['Longitude']>lon)].shape[0])
print(df[(df['Latitude']<lat)&(df['Longitude']<lon)].shape[0])

In [ ]:
import folium
from folium.plugins import MarkerCluster
north_map = folium.Map(location=[53.5,-114],zoom_start=5)
mc = MarkerCluster()
for row in df[df['Latitude']>53.225].itertuples():
  mc.add_child(folium.Marker(location=[row.Latitude,row.Longitude], tooltip=row.Well_ID))
north_map.add_child(mc)
north_map

In [ ]:
import folium
from folium.plugins import MarkerCluster
lat = 53
lon = -113.5
ne_map = folium.Map(location=[lat,lon],zoom_start=5)
mc = MarkerCluster()
for row in df[(df['Latitude']>lat)&(df['Longitude']>lon)].itertuples():
  mc.add_child(folium.Marker(location=[row.Latitude,row.Longitude], tooltip=row.Well_ID))
ne_map.add_child(mc)
ne_map